/**
 * Settings page
 */

.zendy-mailman-wrap{
	margin-top: 20px; 
	background: #fff;
	border-top: 4px solid #000;
	min-width: 400px;
	padding-bottom: 10px;
}
.zendy-mailman-header{
	height:300px; 
	width: 100%; 
	background: #b7dee2;	
	position: relative;
}
.zendy-mailman-tabs{
	padding-left: 28px !important;	
	border: none;
	position: absolute;
	bottom: 0px;
	z-index: 50;
	
}
.zendy-mailman-form-wrapper{
	padding: 0 30px; 
	background: #fff;	
}
.wrap h2.zendy-mailman-form-title{
	font-weight: bold;
	padding-top: 30px;
}
.wrap h2.zendy-mailman-form-title small{
	font-size: 14px;
}
.zendy-mailman-logo{
	float: left;
}
/* Headings 
-----------------------------*/
h1.zendy-mailman-title{
	padding-top: 40px;
	font-size: 24px;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 15px;
	
}
h3.zendy-mailman-title{
	font-size: 16px;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: 20px;
}
h1.zendy-mailman-title, h3.zendy-mailman-title{
}
.zendy-mailman-title{
	margin-right: 60px 
}

/* Nav
-----------------------------*/
.nav-tab{
}
.nav-tab-active, .nav-tab-active:hover{
	background: #fff;
	z-index: 9999;
	border-bottom: 1px solid #fff;
}

/* FAQ 
-----------------------------*/
.faq table th, .faq table td{
	padding:8px 10px;
	text-align: left;
}
.faq p{
	max-width: 500px;
	margin-bottom: 10px;
	margin-top: 0;
	
}
.faq table{
	max-width: 500px;
	margin-bottom: 10px;
	margin-top: 3px;
	clear: both;
}
.faq h3{
	margin-bottom: 0;
	margin-top:0;
	padding-top: 15px;
	padding-bottom: 10px;
}
.zendy-clear{
	clear: both;
}
.zendy-updated, .zendy-error{
	background: #fff;
	padding: 16px 20px;
	margin: 20px 20px 0 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}
.zendy-updated{
	border-left: 10px solid #288f2f;
}
.zendy-error{
	border-left: 10px solid #b80808;
}
.zendy-mailman-wrap .updated{
	display: none !important;
}

/* Media Queries
-----------------------------*/
@media all and (max-width: 600px){
	.zendy-mailman-logo{
		display: none;
	}
	.zendy-mailman-header h1, .zendy-mailman-header h3, .zendy-mailman-header p{
		padding-left: 30px;
	}
}